.wrap{
    display: flex;
    .item{
        flex: 1;
    }
}


.animate{
    animation:  abs 5s;
}

@keyframes abs {
    10% {
        background: #000;
    }

    20% {
        background: #055;
    }
}
